<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossbowffs.hearthlite">
    <application
        android:label="HearthLite">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Automatically delete Hearthstone OBB files after updates"/>
        <meta-data
            android:name="xposedminversion"
            android:value="53"/>
    </application>
</manifest>
